# VSCODE Settings
/.vscode
# Python Virtual Env
/venv

# MQTT_CLIENT package
/mqtt_client/__pycache__
/hypervisor/__pycache__
mqtt_client.egg-info

# Log Files
/logs/*.txt

# Build Files
/build
/dist
*Icon*